/* 
CSS for Light version of VideoPlatform
*/
body {
	color:#000;
	background:url(light/body_bg.gif) #6f6d72;}

a {
	color:#21cce0;}

.preloader { 
	background:url(light/loading.gif) center center no-repeat; }
	
.header {
	background:url(light/header_bg.png) 0 0 repeat-x;}

.breadcrumbs {
	text-shadow:0 1px 1px #d1d0d4}

.breadcrumbs a:hover {
	color:#00a3bb !important;}

.sort_by label {
	text-shadow:0 1px 1px #d1d0d4;}

#big_container .item {
	background:#fff;
	border-bottom:1px solid #a7a5a9;
	color:#7b7980;}

.item-video .name,
.item-slides .name,
.item-text .name {
	color:#565656;
	text-shadow:0 1px 1px #dedddf;}

.item a:hover {
	color:#00a3bb}

.tf_pagination {
	color:#000;
	background:url(light/pagination_bg.png) 0 0 no-repeat;}
.cols3_fix .tf_pagination {
	background:url(light/pagination_bg.png) 0 -74px no-repeat;}
.tf_pagination .page-numbers {	
	text-shadow:0 1px 1px #c2c1c4}

.widget_search .input_search {
	background: url(light/input_field_sprite.png) 0 -36px no-repeat;
	color:#000;}
.widget_search .btn-submit {
	background:url(light/input_field_sprite.png) 0 -67px no-repeat}

/* Accordion Menu */
.tf_acc_menu {
	background:url(light/divider_line.gif) top repeat-x;}

.tf_acc_menu .acc_menu_title {
	background:url(light/divider_line.gif) bottom repeat-x;}

.tf_acc_menu .acc_menu_title h3,
.tf_acc_menu .acc_menu_title h3 a {
	text-shadow:1px 1px 0 #c5c5c5;
	color:#2b2b2b}

.tf_acc_menu .acc_menu_sub {
	background:url(light/divider_line.gif) bottom repeat-x;}

.tf_acc_menu .acc_menu_sub li a {
	color:#000;
	text-shadow:1px 1px 1px #e2e0e5}

.tf_acc_menu .acc_menu_sub li a:hover {
	color:#fff;
	text-shadow:1px 1px 1px #525252;}

.tf_acc_menu .acc_menu_title h3:hover,
.tf_acc_menu .acc_menu_title h3 a:hover,
.tf_acc_menu .acc_menu_item.active h3,
.tf_acc_menu .acc_menu_item.active h3 a {
	color:#24cceb;
	text-shadow:1px 1px 0 #333;}

/* comments */
.comment-list h2, .add-comment h2 {
	color:#333;}
	
.comment-form .inputtext {
	background:url(light/input_field_sprite.png) 0 0 no-repeat;}

.comment-form .textarea {
	background:url(light/textarea_bg.png) 0 0 no-repeat;}

.cols3_fix .comment-form .textarea {
	background:url(light/textarea_bg.png) 0 -151px no-repeat;}

.comment-form .row label {
	color:#2b2b2b;
	text-shadow:0 1px 1px #dedddf;}

.comment-avatar {
	background:url(light/avatar_bg.png) no-repeat;}

.comment-text {
	background:#fff;}

.comment-entry {
	color:#7b7980;}
	
.link-author {
	color:#888;}

.comment-date {
	color:#999;}	
	
.link-reply {
	color:#fff;
	text-shadow:0 1px 1px #000}

/* frames */
.frame_left, .frame_right, .frame_center {
	background:#fff;}

.frame_box {
	background:#fff;
	border-bottom:1px solid #a7a5a9;}
	
.frame_box blockquote {
	color:#888;}

/* posts */
.post-title h2, .post-title h1 {
	color:#565656;
	text-shadow:0 1px 1px #dedddf !important;}

.post-title h2 a, .post-title h1 a,
.post-title h2 a:hover, .post-title h1 a:hover {
	color:#565656;}

.post-meta {
	background:url(light/divider_line_black.gif) 0 0 repeat-x;}

.post-meta a {
	color:#00a3bb}

/* widgets */
.sidebar .widget_tag_cloud .tagcloud a {
	color:#444}
.sidebar .widget_tag_cloud .tagcloud a:hover,
.sidebar .widget_text a,
.sidebar .widget-container a {
	color:#00a3bb}

.sidebar .widget-container li a:hover,
.sidebar .widget-container .current-menu-item a,
.sidebar .widget-container .current_page_item a{
	color:#333;}

.widget_recent_entries li,
.widget_recent_comments li {
	background:#fff;}

.sidebar .widget-container.widget_nav_menu ul {
	background:#fff;}
	
.sidebar .widget_nav_menu ul li {
	background:url(light/divider_line_black.gif) top repeat-x}	

.sidebar .widget_nav_menu ul li a {
	color:#00a3bb}
	
.sidebar .widget_nav_menu ul li a:hover,
.sidebar .widget_nav_menu ul li.current-menu-item a,
.sidebar .widget_nav_menu ul li:first-child.current-menu-item a{
	color:#333}

.sidebar .widget_archive ul,
.sidebar .widget_links ul,
.sidebar .widget_categories ul,
.sidebar .widget_meta ul,
.sidebar .widget_pages ul,
.sidebar .widget_archive li,
.sidebar .widget_links li,
.sidebar .widget_categories li,
.sidebar .widget_meta li,
.sidebar .widget_pages li,
.sidebar .widget_twitter .tweet_item {
	background-image:url(light/divider_line.gif);}

.widget_socials ul {
	background:#fff;}

.sidebar .widget_socials li a {
	color:#00a3bb}

.widget_login form {
	background:#dedddf;}
.sidebar .widget_login form  {
	background:#fff}
.widget_login input {
	border:1px solid #b9b9b9;
	border-right:1px solid #eeeeef;
	border-bottom:1px solid #eeeeef;
	background:#c2c2c2;
	color:#444}

.widget_login form label {
	color:#666}
	
.widget_login .forget_password a {
	color:#00a3bb;}
	
.widget_login .forget_password a:hover {
	color:#000} 

.entry .flickr .flickr_badge_image{
	border:3px solid #ccc}

.sidebar .flickr .flickr_badge_image img {
	border:1px solid #fff;}

.newsletterBox .inputField {
	border:1px solid #b6b6b6;
	border-right:1px solid #b6b6b6;
	border-bottom:1px solid #b6b6b6;
	background:#c3c3c4;
	color:#666}
	
.sidebar .newsletterBox .inputField {
	border:1px solid #777;
	border-right:1px solid #979599;
	border-bottom:1px solid #979599;
	background:#9b999d;
	color:#333}

.widget-container.widget_social_contacts {
	background:#dedddf;}

.widget-container.widget_social_contacts h3 {
	color:#565656;}

.social-box .row a {
	color:#00a3bb;}

.social-box .row a:hover {
	color:#000}

.widget_recent_posts .post-meta,
.widget_popular_posts .post-meta ,
.widget_recent_posts .post-meta a,
.widget_popular_posts .post-meta a {
	color:#777;
	text-shadow: none}

.widget_recent_posts ul li .post-title,
.widget_popular_posts ul li .post-title {
	color:#00a3bb;}

.widget_recent_posts ul li .post-title:hover,
.widget_popular_posts ul li .post-title:hover {
	color:#333} 

/* entry */
.entry a {
	color:#00a3bb;}

.entry a:hover {
	color:#000}

.entry strong {
	color:#333;}

h1,h2,h3,h4,h5,h6{
	color:#565656;}
	
h1 span, h2 span, h3 span ,h4 span, h5 span {
	color:#00a3bb}

.divider, .divider_thin {
	background-image:url(light/divider_line_black.gif)}

.minigallery ul li img,
.entry .minigallery ul li img {
	background:#ccc;
	border:1px solid #b9b9b9;}

.minigallery.boxed {
	border:1px solid #b9b9b9;
	background:#dedddf;}

.minigallery.boxed a img,
.entry .minigallery.boxed a img {
	background:#999;
	border:1px solid #888;}

.entry .frame_box {
	background:#999;}

/* syntaxhighlighter */
.content .syntaxhighlighter {
	background:#dedddf !important;
	border:1px solid #d6d6d6 !important;}
	
.content .syntaxhighlighter .line.alt1,
.content .syntaxhighlighter .line.alt2 {
	background-color: #dedddf !important;}
.content .syntaxhighlighter .toolbar {
	background-color: #ebebeb !important;
	border-left: #d4d4d4 solid 1px !important;
	border-bottom: #d4d4d4 solid 1px !important;}

.content .syntaxhighlighter .plain,
.content .syntaxhighlighter .plain a { 
	color: #888 !important;}

/* shortcodes */
.styled_table table {
	color:#565656;}

.styled_table table tr,
.sb .box_content {
	background:#e9e9e9;
	color:#565656;}
	
.styled_table table tr th, 
.styled_table table tr td	{
	border-top:1px solid #d4d4d4;}

/* tabs */
.tabs {
	background:url(light/tabs_bg.gif) 0 0 repeat-x;}

.tabs li.current {
	background:url(light/tabs_current.png) right -52px no-repeat;
	text-shadow:0px 1px 1px #fff;}
	
.tabs li.current a, 
.tabs li.current a:hover {
	color:#000;
	background:url(light/tabs_current.png) left 0 no-repeat;}

.tabs_framed {
	border:1px solid #ccc;}

.tabs_framed .tabs {
	background: url(light/tabs_bg.gif) 0 bottom repeat-x;}
	
.tabs_framed .tabs li a {
	color:#9d9d9d;}

.tabs_framed .tabs li a:hover {
	color:#44e2ff}

.tabs_framed .tabs .current {
	background:url(light/tabs_current.png) right -52px no-repeat;
	text-shadow: none}

.tabs_framed .tabs .current a, .tabs_framed .tabs .current a:hover {
	color:#000;
	background:url(light/tabs_current.png) left 0 no-repeat;}
	
.tabs_framed .tabcontent {
	background:#fff}

.tabs_framed .tabcontent .inner {
	background:#fff;
	color:#565656}

.entry .tabcontent h2,
.entry .tabcontent h3,
.entry .tabcontent h4,
.entry .tabcontent h5,
.entry .tabcontent h6 {
	color:#565656;
	text-shadow:none}

.toggle_content {
	color:#323232;}

.toggle.box,
h3.toggle.box {
	color:#323232;
	text-shadow:0 1px 1px #e4e4e4;
	background:#cbcbcb;
	background: -webkit-gradient(linear, left top, left bottom, from(#e7e7e7), to(#cbcbcb));
	background: -moz-linear-gradient(top,  #e7e7e7,  #cbcbcb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e7e7e7', endColorstr='#cbcbcb');
	border:1px solid #f1f1f1;
	border-bottom:1px solid #a5a5a6;
	border-right:1px solid #a5a5a6;}

.toggle.box.active {
	background:#dadada;
	border-bottom:1px solid #dadada
}

.boxed {
	background:#f3f3f3;	
	border:1px solid #d1d1d1;}

.faq_q {
	color:#00a3bb}

.faq_question {
	color:#565656}

.faq_question.active {
	color:#00a3bb}

.quote_right, .quote_left {
	color:#b5b5b5;
	text-shadow:none}

.post_list li {
	background:#fff;}
	
.post_list .odd {
	background:#eeeeef}

.post_list li a:hover {
	color:#00a3bb}

.author-description {
	background:#dedddf;}
	
.author-image img {
	border:3px solid #999 !important;}

.author-text {
	color:#777}	
	
.author-text h4,
.entry .author-text h4 {
	color:#444;}

.author-contact {
	color:#666;}

.slideshow.slideQuotes h3 {
	color:#565656;}

.slideshow.slideQuotes .slides_container {
	background:url(light/icons/icon_quotes.png) 15px 15px no-repeat #dedddf;}

.slideshow.slideQuotes .slides_container .quote-text {
	color:#777}

.slideshow .link-more {
	color:#00a3bb;}

.quote-title, .quote-author {
	color:#555;}